{% extends "layout.jinja2" %}

{% block title %}Todo Main Page{% endblock %}

{% block content %}

<h2>Links</h2>
<ul>
<li><a href="/todo">Show todo, not completed</a></li>
<li><a href="/todo/completed">Show todo, completed</a></li>
<li><a href="/todo/add">Add todo item form</a></li>
</ul>
{%  endblock %}
