{% extends "layout.jinja2" %}

{% block title %}ToDo list{% endblock %}

{% block content %}

    {% for t in tasks %}
        <h3>{{ t.title }}</h3>
        <p><b>Created at:</b> {{ t.created_at.strftime('%Y-%m-%d') }}</p>
        <p>desc: {{ t.description }}</p>

        {% if t.completed_at is not none %}
        <p>completed: {{ t.completed_at.strftime('%Y-%m-%d') }}</p>
        {% endif %}

        {% if t.deadline_at is not none %}
        <p>deadline: {{ t.deadline_at.strftime('%Y-%m-%d') }}</p>
        {% endif %}

    {% endfor %}

{% endblock %}