{% extends "layout.jinja2" %}

{% block title %}ToDo list{% endblock %}

{% block content %}
<div class="ui items">
    {% for t in tasks %}
        <div class="ui item">
            <div class="content">
                <a class="header">{{ t.title }}</a>
                <div class="description">
                    <p>{{ t.description }}</p>
                </div>
                <div class="meta extra">
                    <span>
                        <i class="clock icon"></i><strong>Created:</strong> {{ t.created_at.strftime('%Y-%m-%d') }}
                    </span>
                    <span>
                        {% if t.completed_at is not none %}
                            <i class="clock icon"></i><strong>Completed:</strong>
                            {{ t.completed_at.strftime('%Y-%m-%d') }}
                        {% endif %}
                    </span>
                    <span class="four wide column">
                        {% if t.deadline_at is not none %}
                            <i class="alarm icon {% if not t.is_completed and t.deadline_at <= now %} red {% endif %}"></i><strong>Due to:</strong>
                            {{ t.deadline_at.strftime('%Y-%m-%d') }}
                        {% endif %}
                    </span>
                    <form method="post" action="/todo/complete/{{t.id}}">
                    <button type="submit" class="ui right floated button green tiny">
                        Mark as complete
                    </button>
                    </form>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}